name: Deploy React App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build React app
        run: npm run build

      - name: Verify build folder
        run: ls -alh build/

      - name: Setup SSH key
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
        run: |
          echo "$SSH_KEY" > ssh-key.pem
          chmod 400 ssh-key.pem

      - name: Deploy build to EC2
        run: |
          rsync -avz --delete \
          -e "ssh -o StrictHostKeyChecking=no -i ssh-key.pem" \
          build/ ubuntu@13.232.38.92:/var/www/html/

      - name: Restart Nginx
        run: |
          ssh -o StrictHostKeyChecking=no -i ssh-key.pem ubuntu@13.232.38.92 \
          "sudo nginx -t && sudo systemctl restart nginx "
